/* I use lots of borders to visualise elements the wildcard below works as an easy method for toggling them on and off. Each element just needs to have a border color applied.
*/

/* * {
    border: 5px solid lightgreen;
} */

body {
    display: flex;
    flex-direction: column;
    border-color:  blue;
}

.main-title, .home-link{
    color: hsl(210, 13%, 24%);
    font-family: 'Bebas Neue', Arial, sans-serif;
    border-color: purple;
}

.main-title {
    text-align: center;
    margin: 2% 0 0.5% 0;
    font-size: 64px;
}

.home-link-container {
    display: flex;
    align-items: flex-start;
}

.home-link {
    font-weight: 700;
    font-size: 42px;
    margin: 0 0 -10px 0;
}

.main-title a:link {
    color: hsl(210, 13%, 24%);
    /* border-color: pink; */
}

.main-title a:visited {
    color: hsl(210, 13%, 24%);
}


hr {
    width: 100%;
    margin: 0;
    padding: 0;
    border: 1px solid hsl(210, 13%, 24%);
}

.recipe-links-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 100%;
    border-color: red;
}

.recipe-links{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    border-color: yellow;

}

.txt-link, .recipe-title {
    font-family: 'Amatic SC', Arial, sans-serif;
    font-size: 38px;
    font-weight: 700;
    margin-top: 3%;
    margin-bottom: 0.5%;
}

.txt-link, a:link {
    color: hsl(210, 13%, 24%);
    text-decoration: none;
}

.txt-link, a:visited {
    color: hsl(210, 13%, 24%);
}

.recipe-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-color: red;
}

.recipe-title {
    font-size: 48px;
    text-align: center;
    margin: 4% 0 2% 0;
    border-color: salmon;
}

img {
    max-width: 100%;
    height: auto;
    margin: 0 0 2% 0;
    border: 3px solid hsl(210, 13%, 24%);
}

.ingredients-container {
    border-color: indigo;
}

.ingredients-container h2 {
    font-family: 'Bebas Neue', Arial, sans-serif;
    color: hsl(210, 13%, 24%);
}

.ingredients-container p {
    font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.ingredients-container li {
    font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

.steps-container {
    border-color: rgb(235, 0, 184);
}

.steps-container h2 {
    font-family: 'Bebas Neue', Arial, sans-serif;
    color: hsl(210, 13%, 24%);
}

.steps-container ul {
    font-family: 'Open Sans Condensed', Arial, Helvetica, sans-serif;
    font-size: 18px;
}

@media (max-width: 720px) {
    .main-title, .recipe-title {
        font-size: 48px;
    }

    .txt-link {
        font-size: 30px;
    }

    .recipe-links-container {
        padding-right: 1%;
    }
}

@media (max-width: 360px) {
    .main-title, .recipe-title {
        font-size: 32px;
    }
    
    .txt-link {
        font-size: 24px;
    }

    .recipe-links-container {
        padding-right: 2.5%;
    }
}

